.page{
    height: 200px;
    background: rgb(220,220,220);
    background: linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(240,255,255,1) 100%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
h1{
    font-size: 2rem;
}